@import "reset.css";
@import "layout.css";
@import "utilities.css";
@import "components.css";

:root {
  color-scheme: dark light;
}

aside {
  --size: 280px;
  background-color: var(--background-color);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: var(--space);
}

footer,
header {
  outline: var(--border-thick) dashed currentColor;
  position: relative;
}

header {
  background-color: Canvas;
  position: sticky;
  top: 0;
}

h1 {
  margin-block-end: var(--s1);
}

a {
  color: CanvasText;
  font-weight: bold;
}

.cover {
  background-color: black;
  color: white;
}
