@import "reset.css";
@import "layout.css";
@import "utilities.css";
@import "components.css";

aside {
  --size: 280px;
  background-color: #f8f8f8;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: var(--space);
}

footer,
header {
  background-color: white;
  outline: 5px dashed black;
  position: relative;
}

header {
  background-color: Canvas;
  position: sticky;
  top: 0;
}

h1 {
  margin-block-end: var(--s1);
}

a {
  color: CanvasText;
  font-weight: bold;
}
