@import "reset.css";
@import "layout.css";
@import "utilities.css";

aside {
  --size: 280px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer,
header {
  background-color: white;
  outline: 5px dashed black;
  position: relative;
}
