/* Utilities */

.max-inline-size\:measure {
  max-inline-size: var(--measure);
}

.border\:thick {
  border-width: var(--border-thick);
}

.border\:thin {
  border-width: var(--border-thin);
}

.default-space,
.space-1 {
  --space: var(--s1);
}

.space-2 {
  --space: var(--s2);
}

.text-align\:center {
  text-align: center;
}

.text-align\:start {
  text-align: left;
  text-align: start;
}

.text-align\:end {
  text-align: right;
  text-align: end;
}

.justify-content\:space-between {
  justify-content: space-between;
}

.align-items\:center {
  align-items: center;
}

.max-inline-size\:none {
  max-inline-size: none;
}

.max-inline-size\:100 {
  max-inline-size: 100%;
}

.background\:white {
  --background-color: #fff;
}

.background-color\:light-grey {
  --background-color: #eee;
}
